<br>
<br>
<div>
	<div style="margin: 0 auto; text-align: center;">
    <h3 style="color: #00008B; padding: 0px; height: 5px;">Iniciar Sesión</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "Correo Electrónico", {:style => "color: #00008B;"} %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :password, "Contraseña", {:style => "color: #00008B;"} %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, {:style => "color: #00008B;"} %>
          <%= f.label 'Recordar', {:style => "color: #00008B;"} %>
        </div>
      <% end -%>
      <br>
      <div class="actions">
        <%= f.submit "Ingresar", {:class => "input_bottom_sistema"} %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
	</div>
	<br>
	<div class="clear"></div>
</div>