<div class="content">
	<div class="container_12">
		<div class="grid_12">
			<h3>Económico</h3>
		</div>
		<div class="clear"></div>
		<div class="gallery">
			<div class="grid_4"><a href="app/assets/images/big1.jpg" class="gal"><%= image_tag("page3_img1.jpg", :alt => "") %></a></div>
			<div class="grid_4"><a href="app/assets/images/big2.jpg" class="gal"><%= image_tag("page3_img2.jpg", :alt => "") %></a></div>
			<div class="grid_4"><a href="app/assets/images/big3.jpg" class="gal"><%= image_tag("page3_img3.jpg", :alt => "") %></a></div>
		</div>
		<div class="grid_12">
			<h3>Normal</h3>
		</div>
		<div class="clear"></div>
		<div class="gallery">
			<div class="grid_4"><a href="app/assets/images/big4.jpg" class="gal"><%= image_tag("page3_img4.jpg", :alt => "") %></a></div>
			<div class="grid_4"><a href="app/assets/images/big5.jpg" class="gal"><%= image_tag("page3_img5.jpg", :alt => "") %></a></div>
			<div class="grid_4"><a href="app/assets/images/big6.jpg" class="gal"><%= image_tag("page3_img6.jpg", :alt => "") %></a></div>
		</div>
		<div class="grid_12">
			<h3>Vip</h3>
		</div>
		<div class="clear"></div>
		<div class="gallery">
			<div class="grid_4"><a href="app/assets/images/big7.jpg" class="gal"><%= image_tag("page3_img7.jpg", :alt => "") %></a></div>
			<div class="grid_4"><a href="app/assets/images/big8.jpg" class="gal"><%= image_tag("page3_img8.jpg", :alt => "") %></a></div>
			<div class="grid_4"><a href="app/assets/images/big9.jpg" class="gal"><%= image_tag("page3_img9.jpg", :alt => "") %></a></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
