<br>
<div>
  <div style="margin: 0 auto;">
    <h3 style="color: #00008B; padding: 0px; height: 5px;">Registrarse</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :name, "Nombre", {:style => "color: #00008B;"} %><br />
        <%= f.name :name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :lastname, "Apellidos", {:style => "color: #00008B;"} %><br />
        <%= f.lastname :lastname %>
      </div>
      <div class="field">
        <%= f.label :identitydocument, "DNI", {:style => "color: #00008B;"} %><br />
        <%= f.identitydocument :identitydocument %>
      </div>
      <div class="field">
        <%= f.label :birthdate, "Fecha Nacimiento", {:style => "color: #00008B;"} %><br />
        <%= f.birthdate :birthdate %>
      </div>
      <div class="field">
        <%= f.label :email, "Correo Electrónico", {:style => "color: #00008B;"} %><br />
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :password, "Contraseña", {:style => "color: #00008B;"} %>
        <% if @minimum_password_length %>
          <em style="color: #00008B;">(<%= @minimum_password_length %> caracteres mínimos)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmar contraseña", {:style => "color: #00008B;"} %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Grabar", {:class => "input_bottom_sistema"} %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
  <div class="clear"></div>
</div>