<br>
<br>
<div>
	<div style="margin: 0 auto; text-align: center;">
    <h3 style="color: #00008B; padding: 0px; height: 5px;">Olvid칩 su contrase침a?</h3>
    <br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email, "Correo Electr칩nico", {:style => "color: #00008B;"} %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Recibir instrucciones para restablecer contrase침a", {:class => "input_bottom_sistema"} %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
	</div>
	<br>
	<div class="clear"></div>
</div>