<!DOCTYPE html>
<html lang="es">
<head>
    <title>Futura Taxi SAC</title>
	<meta charset="utf-8">
	<meta name = "format-detection" content = "telephone=no" />
	<%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'style_sistema', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery-migrate-1.2.1', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'superfish', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.ui.totop', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.equalheights', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.mobilemenu', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'owl.carousel', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'camera', 'data-turbolinks-track' => true %>
	<!--[if (gt IE 9)|!(IE)]><!-->
	<%= javascript_include_tag 'jquery.mobile.customized.min', 'data-turbolinks-track' => true %>
	<!--<![endif]-->
	<%= javascript_include_tag 'booking', 'data-turbolinks-track' => true %>
	<script>
		$(document).ready(function(){
			jQuery('#camera_wrap').camera({
				loader: false,
				pagination: false ,
				minHeight: '444',
				thumbnails: false,
				height: '28.28125%',
				caption: true,
				navigation: true,
				fx: 'mosaic'
			});
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<%= csrf_meta_tags %>
</head>
<body class="body_sistema">
    <div class="contenedor_sistema">
		<header class="header_sistema">
			<div>
				<%= image_tag("logo.png", :alt => "") %>
			</div>
		</header>
		<div class="cuerpo_sistema">
			<div class="ladoizquierdo">
				<%= render "partials/navigation_sistema" %>
			</div>
		
	    	<div class="ladoderecho">
	        	<%= yield %>
	    		<p style="color: #FF4500;"><%= notice %></p>
			  	<p style="color: #FF4500;"><%= alert %></p>
	    	</div>
	    </div>
	    
	    <%= render "partials/footer_sistema" %>

	</div>
</body>
</html>
