
<p id="notice"><%= notice %></p>
<h3 class="h3_sistema">Listado de Distritos</h3>
<table id="t01" style="width:40%;">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.description %></td>
        <td><%= district.status %></td>
        <td><%= link_to 'Visualizar', district %></td>
        <td><%= link_to 'Editar', edit_district_path(district) %></td>
        <td><%= link_to 'Eliminar', district, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nuevo Distrito', new_district_path, {:class => "a_sistema"} %>
