<div>
	<nav>
		<ul class="nav_ul">
			<li class="nav_ul_li"><%= link_to 'Clientes', root_path, {:class => "nav_ul_li_a"} %></li>
			<li class="nav_ul_li"><%= link_to 'Servicios', car_path, {:class => "nav_ul_li_a"} %></li>
			<li class="nav_ul_li"><%= link_to 'Tarifas', service_path, {:class => "nav_ul_li_a"} %></li>
			<li class="nav_ul_li"><%= link_to 'Distritos', districts_path, {:class => "nav_ul_li_a"} %></li>
			<li class="nav_ul_li"><%= link_to 'Choferes', reservation_path, {:class => "nav_ul_li_a"} %></li>
			<li class="nav_ul_li"><%= link_to 'Vehiculos', reservation_path, {:class => "nav_ul_li_a"} %></li>
			<% if user_signed_in? %>
			    <li class="nav_ul_li"><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
			<% else %>
			    <li class="nav_ul_li"><%= link_to 'Iniciar Sesión', new_user_session_path, {:class => "nav_ul_li_a"} %></li>
			    <li class="nav_ul_li"><%= link_to 'Crear Cuenta', new_user_registration_path, {:class => "nav_ul_li_a"} %></li>
			<% end %>
		</ul>
	</nav>
	<div class="clear"></div>
</div>